.result-body {
    width: 70%;
    text-align: center;
}
.score-part {
    margin-top: 50px;
    font-size: 20px;
}
.score-number > span {
    font-size: 40px;
    padding: 5px;
    font-weight: bold;
    color: white;
}
.score-comment {
    text-align: left;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.score-comment > div {
    text-align: left;
    margin-top: 40px;
}
.result-body a {
    display: inline;
    color: #76663b;
    font-size: 17px;
    margin-top: 20px;
}

.highcharts-credits {
    display: none;
}
